*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Helvetica;
  color: #fff;
  font-weight: 300;
  line-height: 1.6; }

.u-heading-padding-top {
  padding-top: 2rem; }

.u-padding-bottom {
  padding-bottom: 2rem; }

.aboutme {
  color: #000;
  font-size: 1.5rem; }
  .aboutme__container {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem; }
  .aboutme__heading {
    text-transform: uppercase;
    letter-spacing: 2px; }

.mission {
  background-color: #141414;
  font-size: 1.5rem; }
  .mission__container {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem; }
  .mission__heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    padding-bottom: 2rem; }

.skills {
  background-color: purple;
  font-size: 1.5rem; }
  .skills__container {
    width: 75%;
    text-align: center;
    margin: 0 auto; }

.mywork {
  color: #000;
  font-size: 1.5rem; }
  .mywork__container {
    width: 75%;
    text-align: center;
    margin: 4rem auto; }

.contact {
  background-color: turquoise;
  font-size: 1.5rem; }
  .contact__container {
    width: 80%;
    text-align: center;
    margin: 0 auto; }
  .contact__second-heading {
    font-size: 1.5rem; }

.footer {
  background-color: #141414;
  font-size: 1.5rem; }
  .footer__links {
    text-align: center; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    text-decoration: none; }
  .footer__copyright {
    text-align: center;
    font-size: 1rem; }

.header__background {
  background-image: url("../images/wallhaven-xle163.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  width: 100%;
  height: 90vh; }

.header__nav-container {
  background-color: transparent 0%;
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__logo {
  color: #fff;
  font-weight: 400;
  font-family: "Righteous", cursive;
  font-size: 3.5rem;
  padding: 0 1.5rem;
  text-transform: uppercase; }

.header__menu {
  padding: 0 1.5rem; }

.header label {
  font-size: 3rem;
  line-height: 7rem;
  cursor: pointer; }

.header #toggle {
  display: none; }

.header__greeting {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.header__greeting--name {
  margin-top: 4rem;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.5px; }

.header__greeting--info {
  margin-top: 2.5rem;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.5px; }

.header__greeting--email {
  margin-top: 2rem;
  font-size: 1.5rem; }
