/*
0-600px: mobile
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
[1200px-1800px] is where our normal styles are applied
subjective(1800px + :  desktop) may not use

$breakpoint argument choices:
-sm-phone
-md-phone
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + typography > general layout + grid page layout > components 
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Helvetica;
  color: #fff;
  font-weight: 300;
  line-height: 1.6; }

.background-container {
  width: 100vw;
  height: 100vh;
  background-color: orangered;
  z-index: -1;
  position: fixed; }
  .background-container__img {
    width: 100%;
    height: 100%; }
