.footer {
  background-color: #141414;
  font-size: 1.5rem;

  &__links {
    text-align: center;
  }

  &__link:link,
  &__link:visited {
    color: $color-primary;
    text-decoration: none;
  }

  &__copyright {
    text-align: center;
    font-size: 1rem;
  }
}