.header {
  @include navBackground;
  

  &__heading-1 {
    font-size: 3.5rem;

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  &__heading-2 {
    font-size: 2rem;
    margin-top: 1rem;

    @include respond(phone) {
      font-size: 1.3rem;
    }

    @include respond(md-phone) {
      margin-bottom: 7rem;
    }
  }
}

.header-about {
  @include navBackground;
  height: 65vh;
  background-color: rgba($color: #000000, $alpha: .7);

  &__heading-3--about {
    font-size: 3.5rem;
    position: absolute;
    top: 2rem;

    @include respond(phone-4) {
      top: 3.5rem;
    }

    @include respond(phone) {
      top: 3rem;
    }

    @include respond(sm-phone-1) {
      top: .5rem;
    }
  }

  &__para {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 3rem;
    width: 70%;
    text-align: justify;
    position: absolute;
    top: 16rem;

    @include respond(md-desktop) {
      font-size: 2.2rem;
      line-height: 5rem;
      width: 60%;
      z-index: 3;
    }

    @include respond(tab-land-1) {
      font-size: 1.8rem;
      line-height: 4.5rem;
      width: 80%;
      top: 15rem;
      z-index: 3;
    }

    @include respond(tab-port) {
      font-size: 1.4rem;
      line-height: 4rem;
      top: 14rem;
    }

    @include respond(tablet-3) {
      font-size: 1.2rem;
      line-height: 2.5rem;
      width: 85%;
      top: 9rem;
    }

    @include respond(tablet-4) {
      line-height: 2.3rem;
    }

    @include respond(ipad) {
      font-size: 2rem;
      line-height: 3.5rem;
      top: 17rem;
    }

    @include respond(tablet-2) {
      font-size: 1.2rem;
      line-height: 2.3rem;
      top: 10rem;
    }

    @include respond(tablet) {
      font-size: 2.3rem;
      line-height: 5rem;
      top: 15rem;
    }

    @include respond(iphone-land) {
      font-size: 1.3rem;
      line-height: 1.8rem;
      top: 8.5rem;
    }

    @include respond(tablet-1) {
      font-size: 1.2rem;
      line-height: 2rem;
      top: 8rem;
    }

    @include respond(phone-4) {
      font-size: 2rem;
      line-height: 3.2rem;
      width: 75%;
      top: 15rem;
    }

    @include respond(phone) {
      font-size: 1.8rem;
      line-height: 3rem;
      top: 12rem;
    }

    @include respond(phone-1) {
      font-size: 1rem;
      line-height: 2rem;
      width: 90%;
      top: 7.5rem;
    }

    @include respond(phone-3) {
      font-size: 1.2rem;
      line-height: 2.5rem;
      width: 90%;
      top: 10rem;
    }

    @include respond(phone-2) {
      font-size: 1.6rem;
      line-height: 2.3rem;
    }

    @include respond(sm-phone-2) {
      font-size: 1.5rem;
      line-height: 2rem;
      top: 12rem;
    }

    @include respond(sm-phone) {
      font-size: 1.4rem;
      letter-spacing: 0;
      line-height: 1.8rem;
      top: 12rem;
    }

    @include respond(sm-phone-1) {
      font-size: 1.1rem;
      letter-spacing: 0;
      line-height: 1.5rem;
      width: 85%;
      top: 7rem;
      z-index: 3;
    }
  }
}

.header-work {
  @include navBackground;

  &__heading-3--work {
    font-size: 3.5rem;
    position: absolute;
    top: 2rem; 

    @include respond(tablet-3) {
     font-size: 2.5rem; 
    }

    @include respond(tablet-4) {
      font-size: 2rem;
      top: 1.3rem;
    }

    @include respond(ipad) {
      top: 5rem;
      font-size: 3.5rem;
    }

    @include respond(tablet-2) {
      font-size: 2rem;
      top: 1.3rem;
    }

    @include respond(tablet) {
      top: 5rem;
      font-size: 3.5rem;
    }

    @include respond(iphone-land) {
      font-size: 2rem;
      top: 1.3rem;
    }

    @include respond(phone) {
      font-size: 3rem;
      top: 4rem;
    }

    @include respond(phone-1) {
      font-size: 2rem;
      top: 1rem;
    }

    @include respond(phone-3) {
      top: 2.5rem;
    }

    @include respond(phone-2) {
      top: 4rem;
    }

    @include respond(sm-phone-1) {
      top: 2rem;
    }
  }

  &__app-container {
    position: absolute;
    top: 9rem;
    width: 60rem;
    height: 35rem;
    background-color: rgba($color: #000000, $alpha: .7);
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    z-index: 3;

    @include respond(tab-land-5) {
      top: 17rem;
    }

    @include respond(md-desktop) {
      top: 28rem;
      width: 80rem;
    }

    @include respond(tab-land) {
      top: 15rem;
    }

    @include respond(tab-land-1) {
      top: 25rem;
    }

    @include respond(tab-port) {
      height: 35rem;
    }

    @include respond(tablet-3) {
      top: 7rem;
      height: 21rem;
    }

    @include respond(tablet-4) {
      top: 5.5rem;
      width: 55rem;
      height: 20rem;
    }

    @include respond(ipad) {
      top: 25rem;
      height: 30rem;
    }

    @include respond(tablet-2) {
      top: 7rem;
      height: 20rem;
    }

    @include respond(tablet) {
      top: 30rem;
      height: 35rem;
    }

    @include respond(iphone-land) {
      top: 5.5rem;
      height: 20rem;
    }

    @include respond(tablet-1) {
      width: 50rem;
    }

    @include respond(phone-4) {
      top: 23rem;
      height: 30rem;
    }

    @include respond(phone) {
      top: 18rem;
      width: 35rem;
    }

    @include respond(phone-1) {
      top: 5rem;
      height: 17rem;
      width: 40rem;
    }

    @include respond(phone-3) {
      top: 10rem;
      width: 35rem;
      height: 20rem;
    }

    @include respond(phone-2) {
      top: 15rem;
      height: 25rem;
      width: 35rem;
    }

    @include respond(sm-phone) {
      top: 12rem;
      width: 30rem;
    }

    @include respond(sm-phone-1) {
      top: 7rem;
      width: 27rem;
      height: 20rem;
    }

    &--link {
      text-decoration: none;
    }

      &--btn {
        width: 15rem;
        height: 15rem;
        background-image: url('../images/website-pic.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 8rem;
        transition: .5s;

        &:hover {
          @include btnUp;
        }

        &:active {
        @include btnPushed;
    }

      @include respond(md-desktop) {
        width: 18rem;
        height: 18rem;
        margin-top: 8rem;
      }

      @include respond(tablet-3) {
        width: 11rem;
        height: 11rem;
        margin-top: 3rem;
      }

      @include respond(tablet-4) {
        width: 10rem;
        height: 10rem;
      }

      @include respond(ipad) {
        width: 12rem;
        height: 12rem;
        margin-top: 6rem;
      }

      @include respond(tablet-2) {
        width: 9rem;
        height: 9rem;
        margin-top: 4rem;
      }

      @include respond(tablet) {
        width: 14rem;
        height: 14rem;
        margin-top: 8rem;
      }

      @include respond(iphone-land) {
        width: 10rem;
        height: 10rem;
        margin-top: 4rem;
      }

      @include respond(phone-4) {
        width: 13rem;
        height: 13rem;
        margin-top: 7rem;
      }

      @include respond(phone-1) {
        width: 10rem;
        height: 10rem;
        margin-top: 2.5rem;
      }

      @include respond(phone-3) {
        width: 13rem;
        height: 13rem;
        margin-top: 2.5rem;
      }

      @include respond(phone-2) {
        margin-top: 4rem;
      }

      @include respond(sm-phone-1) {
        margin-top: 2.5rem;
      }
    }

      h3 {
        margin-top: 2rem;
        font-size: 1.5rem;
        letter-spacing: 1px;
        color: $color-primary;

        @include respond(md-desktop) {
          font-size: 2rem;
        }

        @include respond(tablet-4) {
          font-size: 1.2rem;
        }

        @include respond(ipad) {
          font-size: 1.5rem;
        }

        @include respond(tablet-2) {
          font-size: 1.2rem;
        }

        @include respond(tablet) {
          font-size: 1.8rem;
        }

        @include respond(iphone-land) {
          font-size: 1.5rem;
        }

        @include respond(phone-4) {
          font-size: 2rem;
        }

        @include respond(phone-1) {
          font-size: 1.3rem;
          margin-top: 1rem;
        }
      }

      &--contact {

        @include respond(tab-land-5) {
          top: 17rem;
        }

        @include respond(tab-land) {
          top: 14.5rem;
        }

        @include respond(tab-land-1) {
          top: 25rem;
        }

        @include respond(tablet-3) {
          top: 7.5rem;
        }

        @include respond(tablet-4) {
          top: 5.8rem;
        }

        @include respond(ipad) {
          top: 25rem;
        }

        @include respond(tablet-2) {
          top: 7rem;
        }

        @include respond(iphone-land) {
          top: 5.5rem;
        }

        @include respond(tablet-1) {
          top: 6rem;
        }
        
        @include respond(phone-1) {
          top: 6rem;
          height: 15rem;
        }

        @include respond(phone-3) {
          top: 12rem;
          height: 17rem;
        }

        @include respond(phone-2) {
          top: 17rem;
          height: 19rem;
        }

        @include respond(md-phone) {
          top: 15rem;
        }

        @include respond(sm-phone-2) {
          top: 17rem;
          width: 28rem;
        }

        @include respond(sm-phone) {
          top: 14rem;
          width: 26rem;
        }

        @include respond(sm-phone-1) {
          top: 7.5rem;
          width: 25rem;
        }
      }
  }
}

.contact {
  text-decoration: none;
  color: $color-primary;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
  border: 1px solid $color-primary;
  padding: 1rem 2rem;
  transition: .5s;

  @include respond(phone-1) {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  
  }
}

.contact:hover {
  @include btnUp;
}

.contact:active {
@include btnPushed;
}