.navigation {

  &__btn--container {
    height: 10rem;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn:link,
  &__btn:visited {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-primary;
    font-weight: 600;
    letter-spacing: 2px;
    width: 25rem;
    padding: 2rem 0;
    margin: 0 2.5rem;
    transition: 0.5s;
    border-radius: 15px;
  }

  &__btn-color--neonblue {
    color: #000;
    background-color: #03e9f4;

    &:hover {
      @include btnUp;
      background: #03e9f4;
      color: #000;
      box-shadow: 0 0 .5rem #03e9f4,
                  0 0 2.5rem #03e9f4,
                  0 0 5rem #03e9f4,
                  0 0 20rem #03e9f4;
    }

    &:active {
      @include btnPushed;
    }
  }

  &__btn-color--neonpink {
    color: #000;
    background-color: #f706cf;

    &:hover {
      @include btnUp;
      background: #f706cf;
      color: #000;
      box-shadow: 0 0 .5rem #f706cf,
                  0 0 2.5rem #f706cf,
                  0 0 5rem #f706cf,
                  0 0 20rem #f706cf;
    }

    &:active {
      @include btnPushed;
    }
  }

  &__btn-color--neonpurple {
    color: #000;
    background-color: #c852ec;

    &:hover {
      @include btnUp;
      background: #c852ec;
      color: #000;
      box-shadow: 0 0 .5rem #c852ec,
                  0 0 2.5rem #c852ec,
                  0 0 5rem #c852ec,
                  0 0 20rem #c852ec;
    }

    &:active {
      @include btnPushed;
    }
  }
}